$bordercolor :hsl(26, 100%, 55%);
$borderbottom : hsl(223, 64%, 98%);

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.navbar_container{
    width: 90vw;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    font-family: 'Kumbh Sans', sans-serif;
    .navbar_info{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        gap: 1rem;
        height: 100%;
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            li{
                display: flex;
                align-items: center;
                height: 100%;
                &:hover{
                    border-bottom: 5px solid $bordercolor;
                }
            }
        }
    }
    .user_navbar{
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-evenly;
        height: 100%;
        img{
            width: 3rem;
            &:hover{
                outline: 2px solid $bordercolor;
                border-radius: 50%;
            }
        }
        .cart{
            display: flex;
            align-items: center;
            height: 100%;
            &:hover .cart-item-container{
                display: block;
            }
            .cart-item-container{
                background-color: white;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 1rem;
                display: none;
                width: 20vw;
                position: absolute;
                right: 5%;
                top:15%;
                h1{
                    border-bottom: 2px solid $borderbottom;
                    padding-bottom: 0.5rem;
                    font-size: 1rem;
                    font-weight: 900;
                }
                .cart-item{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        border-radius: 0.5rem;
                        width: 25%;
                    }
                    .cart-item-info{
                        display: block;
                        font-size: 0.8em;
                        .price{
                            display: flex;
                            align-items: center;
                            gap:1rem;
                            .total{
                                color: black;
                                background-color: hsl(25, 100%, 94%);
                                font-size: 1rem;
                                color: $bordercolor;
                                border-radius: 0.5rem;
                                padding: 0 0.5rem 0 0.5rem;
                            }
                        }
                    }
                    button{
                        border: none;
                        background-color: inherit;
                        color: gray;
                        &:hover{
                            color: black;
                        }
                    }
                }
                .checkout{
                    width: 100%;
                    padding: 1rem;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: $bordercolor;
                    color: white;
                    font-weight: 700;
                    &:hover{
                        outline: 1px solid $bordercolor;
                    }
                }
            }
        }
        

    }
}

// media queries 
@media (width<700px) {
    .navbar_container{
        border: none;
        .navbar_info{
            display: flex;
            flex-direction: row-reverse;
            width: fit-content;
            .mobile_navbar{
                background-color: white;
                position: absolute;
                top: 1%;
                left: 0%;
                width: 40vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .div{
                    margin-top: 2rem;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    height: 80%;
                    gap: 0;
                    margin: 0;
                    li{
                        margin: 0;
                        height: fit-content;
                    }

                }
            }
        }
        .user_navbar{
            width: 30%;
            gap: 1rem;
        }
    }
    
}